{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container d-flex align-items-center justify-content-center pt-1 mt-5">
        <div class="card shadow-lg p-4 rounded-4" style="max-width: 500px; width: 100%;">
            <div class="card-body">
                <h2 class="text-center mb-4 text-primary">Inscription</h2>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'autocomplete': 'email'}}) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'autocomplete': 'new-password'}}) }}
                    {{ form_errors(form.password) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'autocomplete': 'nom'}}) }}
                    {{ form_errors(form.nom) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'autocomplete': 'prenom'}}) }}
                    {{ form_errors(form.prenom) }}
                </div>


                <div class="d-grid mt-4">
                    <button class="btn btn-success btn-lg" type="submit">
                        Créer un compte
                    </button>
                </div>

                <div class="card-footer text-end bg-white rounded-bottom-4">
                    <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">← Déjà inscrit ? Connexion</a>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
